<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>

<div class="header">

    <h2>🚀 AI Voice Debate Partner</h2>

    <div class="user-section">
        <span id="usernameDisplay">👋 User</span>

        <a href="/" class="logout-btn">
            Logout
        </a>
    </div>

</div>


<div class="container">

    <h1 class="title">
        Choose Your Mode
    </h1>


    <div class="card-container">

        <div class="card glow"
             onclick="location.href='/topic?mode=ai'">

            <h2>🤖 AI Debate</h2>

            <p>Challenge AI with logic</p>

        </div>


        <div class="card glow"
             onclick="location.href='/create-room'">

            <h2>👥 Human Debate</h2>

            <p>Debate with real users</p>

        </div>

    </div>


    <div class="card-container">

        <div class="card glass"
             onclick="location.href='/ai-history'">

            <h3>🤖📜 AI History</h3>

            <p>View your AI debates</p>

        </div>


        <div class="card glass"
             onclick="location.href='/human-history'">

            <h3>👥📜 Human History</h3>

            <p>View your human debates</p>

        </div>

    </div>

</div>


<script src="/js/dashboard.js"></script>

</body>

</html>